In [1]:
#import pandas
import pandas as pd

In [2]:
#import in the csv with all restaurants
restaurants_csv = "Resources/all-restaurants.csv"

In [3]:
#read in the csv as a dataframe
restaurant_df = pd.read_csv(restaurants_csv)
restaurant_df.head()

,Unnamed: 0,Name,Rating,Review Count,Street Address,Zip Code,Url,Latitude,Longitude
0,0,Jun-Men Ramen Bar,4.0,620,249 9th Ave,10001,https://www.yelp.com/biz/jun-men-ramen-bar-new...,40.748209,-74.000470
1,1,Fuyu Ramen,4.5,123,4617 Queens Blvd,11104,https://www.yelp.com/biz/fuyu-ramen-sunnyside-...,40.743478,-73.918057
2,2,Kesté Pizza & Vino,4.0,1406,271 Bleecker St,10014,https://www.yelp.com/biz/kest%C3%A9-pizza-and-...,40.731540,-74.002930
3,3,Ashoka on 2nd Avenue,4.5,144,1718 2nd Ave,10128,https://www.yelp.com/biz/ashoka-on-2nd-avenue-...,40.779855,-73.950090
4,4,Craft House,4.5,330,60 Vanduzer St,10301,https://www.yelp.com/biz/craft-house-tompkinsv...,40.636373,-74.077543

In [4]:
#read in the columns
restaurant_df.columns

Index(['Unnamed: 0', 'Name', 'Rating', 'Review Count', 'Street Address',
       'Zip Code', 'Url', 'Latitude', 'Longitude'],
      dtype='object')

In [5]:
#create a new data frame and drop the unnamed column
new_rest_df = restaurant_df[["Name", "Rating", "Review Count", "Street Address",
                                    "Zip Code", "Url", "Latitude", "Longitude"]]

In [6]:
#rename the columns to no longer have spaces and so they match our database
rename = new_rest_df.rename({'Zip Code': 'Postcode', 'Review Count': 'Num_Reviews','Street Address' : 'street_address'}, axis=1)  # new method

In [7]:
rename.head()

,Name,Rating,Num_Reviews,street_address,Postcode,Url,Latitude,Longitude
0,Jun-Men Ramen Bar,4.0,620,249 9th Ave,10001,https://www.yelp.com/biz/jun-men-ramen-bar-new...,40.748209,-74.000470
1,Fuyu Ramen,4.5,123,4617 Queens Blvd,11104,https://www.yelp.com/biz/fuyu-ramen-sunnyside-...,40.743478,-73.918057
2,Kesté Pizza & Vino,4.0,1406,271 Bleecker St,10014,https://www.yelp.com/biz/kest%C3%A9-pizza-and-...,40.731540,-74.002930
3,Ashoka on 2nd Avenue,4.5,144,1718 2nd Ave,10128,https://www.yelp.com/biz/ashoka-on-2nd-avenue-...,40.779855,-73.950090
4,Craft House,4.5,330,60 Vanduzer St,10301,https://www.yelp.com/biz/craft-house-tompkinsv...,40.636373,-74.077543

In [8]:
#create a new table with just location information
restaurant_location = rename[["Name","street_address","Postcode","Latitude","Longitude"]]
restaurant_location.head()

                   Name    street_address  Postcode   Latitude  Longitude
0     Jun-Men Ramen Bar       249 9th Ave     10001  40.748209 -74.000470
1            Fuyu Ramen  4617 Queens Blvd     11104  40.743478 -73.918057
2    Kesté Pizza & Vino   271 Bleecker St     10014  40.731540 -74.002930
3  Ashoka on 2nd Avenue      1718 2nd Ave     10128  40.779855 -73.950090
4           Craft House    60 Vanduzer St     10301  40.636373 -74.077543

In [9]:
#create a new table with just additional info
restaurant_info = rename[["Name","street_address","Rating","Num_Reviews","Url"]]
restaurant_info.head()

,Name,street_address,Rating,Num_Reviews,Url
0,Jun-Men Ramen Bar,249 9th Ave,4.0,620,https://www.yelp.com/biz/jun-men-ramen-bar-new...
1,Fuyu Ramen,4617 Queens Blvd,4.5,123,https://www.yelp.com/biz/fuyu-ramen-sunnyside-...
2,Kesté Pizza & Vino,271 Bleecker St,4.0,1406,https://www.yelp.com/biz/kest%C3%A9-pizza-and-...
3,Ashoka on 2nd Avenue,1718 2nd Ave,4.5,144,https://www.yelp.com/biz/ashoka-on-2nd-avenue-...
4,Craft House,60 Vanduzer St,4.5,330,https://www.yelp.com/biz/craft-house-tompkinsv...

In [10]:
#save both of these dataframes as csvs
restaurant_location.to_csv("../final-csvs/restaurant-location.csv")
restaurant_info.to_csv("../final-csvs/restaurant-info.csv")